
     a {
        float: right;
        text-decoration: none;
        padding: 14px,16px;
        color: cornsilk;
        background-color: #e10e0e;

      }
      .nav-main{
        background-color: #e10e0e;
        height: 15vh;
        position:sticky;
        top: 0;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .leftnav{
    width: 30vw;
      display: flex;
      justify-content: space-between;
      }
      .rightnav{
        width:10vw;
        display: flex;
        justify-content: space-between;
      }
      .wall{
       height: 85vh;
       background-color: aqua;
       
      }
      

    